*{
    padding: 0%;
    margin: 0%;
}
#head{
    height: 10vh;
    width: 99vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(234, 234, 234);

}

.menu{
    height: 3rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 5%;
    padding-right: 10%;


}

.menu ul{
    list-style: none;
    display: flex;
    position: relative;
    
    
}

.menu ul li{
    padding: 2rem 3rem;
    position: relative;
    padding-bottom: 5%;
    padding-left: 10%;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;    
}

.menu ul li a:hover{
    color: blue;
}

.dropdwon{
    display: none;
}

.menu ul li:hover .dropdwon{
    display: block;
    position: absolute;
    left: 0%;
    top: 100%;
    background-color: white;

}

.menu ul li:hover .dropdwon ul{
    display: block;
    margin: 10%;
}

.menu ul li:hover .dropdwon ul li{
    width: 100px;
    padding: 10px;
}

.icons{
    font-size: 200%;
    width: 5%;
       
}

.icons i{
    color: rgb(0, 0, 0);
}

#input2{
    height: 70%;
    width: 30%;
    margin-top: 1%;
    display: flex;
}
.input{
    width: 20rem;
    height: 2rem;
    border-radius: 50px 0px 0px 50px;
}

.search{
    height: 2.2rem;
    width: 7rem;
    border-radius: 0px 50px 50px 0px;
    background-color: orangered;
}

.first1{
    border: transparent;
    background-color: rgb(212, 211, 211);
    width: 100%;
    font-size: 120%;
    border-radius: 50px;
}

#main{
    height: 70vh;
    width: 99vw;
    display: flex;
    background-image: url("img/img_04.jpg");
    background-size: cover;
}

#sec_main{
    height: 30vh;
    width: 99vw;
    display: flex;
    flex-wrap: wrap;

}

#sec_main img{
    height: 100%;
    width: 24%;
    margin-left: 0.5%;
}

#third{
    height: 100vh;
    width: 99vw;
    /* border: 6px solid yellow; */
    margin-left: 2%;
    background-color: rgb(242, 242, 242);
    
    
}
#head4{
    height: 15%;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */

}
.thirdline{
    display: inline;
}
.line2{
    color: orangered;
}
.brand{
    height: 170%;
}

#head5{
    height: 7vh;
    width: 80vw;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10%;
   
}

.city{
    width: 10%;
    height: 50%;
    font-weight: bolder;
    border: 2px solid black;
    text-align: center;
    border-radius: 50px;
    background-color: rgb(189, 188, 188);

}

#popular{
    height: 75vh;
    width: 100vw;

}

#popular1{
    display: flex;
    height: 35vh;
    width: 100vw;
}

.fev{
    height: 100%;
    width: 25%;
    /* border: 2px solid black; */
    margin-left: 5%;   
    /* background-color: rgb(138, 138, 245); */
}

#popular2{
    display: flex;
    height: 35vh;
    width: 100vw;
}
.fev2{
    height: 100%;
    width: 25%;
    /* border: 2px solid black; */
    margin-left: 5%;
    margin-top: 2%;
}

.fev3{
    height: 80%;
    width: 100%;

}
#popular1 h1{
    display: inline-block;
}

#popular2 h1{
    display: inline-block;
}

.fev4{
    color: orangered;
}

#foot{
    height: 120vh;
    width: 100vw;
}

#foot2{
    height: 60vh;
    width: 100vw;
    border: 2px solid black;
    background-color: rgb(103, 101, 101);
    display: flex;
    justify-content: end;
    
}

#pizza1{
    /* border: 5px solid white; */
    height: 100%;
    display: flex;
    align-items: center;

}
#pizza{
    height: 120%;
}

.foot4{
    color: rgb(255, 255, 255);
    margin-left: 40%;
    height: 10%;  
    margin-top: 3%;
}
.delivery{
    text-align: center;
    color: white;
    margin-top: 15px;
}

.order{
    margin-left: 40%;
}

#foot5{
    /* border: 5px solid lightgreen; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#order{
    height: 10%;
    width: 20%;
    margin-left: 40%;
    background-color: orangered;
    font-weight: bolder;
}
#foot3{
    height: 60vh;
    width: 100vw;
    background-color: rgb(39, 39, 39);
    display: flex;
}

.delivery{
    margin-left: 15%;
}

.last_list{
    /* border: 2px solid rgb(255, 255, 255); */
    height: 100%;
    width: 40%;
    margin-left: 5%;
    
}

.last_list ul li{
    list-style: none;
}

.last_list ul li h2{
    color: white;
    margin: 10%;
}
.last_list ul li p{
    color: rgb(228, 223, 223);
    margin: 10%;
}
.last_list img{
    width: 60%;
}


#v1{
    height: 12rem;
}
#v2{
    height: 8rem;
}


.v3{
    height: 30%;
    padding-left: 15%;
    padding-top: 3%;
}
.line{
    color: rgb(255, 68, 0);
    position: relative;
    top: 17%;
}
.p{
    color: white;
    position: relative;
    top: 24%;
    right: 5rem;
}

