
*{
    margin: 0%;
    padding: 0%;
}
#page{
    border: 2px solid black;
    height: 106vh;
    width: 99vw;
    background-color: rgb(196, 191, 191);
}

#head{
    /* border: 2px solid black; */
    width: 100vw;
    height: 15vh;
    /* background-color: blueviolet; */
    display: flex;
}

#head2{
    display: flex;
    align-items: center;
    margin-left: 10%;

}

#head2 img{
    height: 12rem;  
    
}
.v4{
    color: rgb(255, 68, 0);
}

.v6{
    color: gray;
}

#main{
    /* border: 2px solid black; */
    height: 45vh;
    width: 99vw;
    display: flex;
}

.image{
    height: 75%;
    width: 100%;
}

.star{
    height: 100%;
    width: 50%;
    padding-top: 4%;
    
}
.star2{
    height: 10%;
    width: 30%;
    display: flex;
    align-items: end;

}

.under{
    height: 99%;
    width: 20%;
    /* border: 2px solid black; */
    /* background-color: chartreuse; */
    display: inline-block;
    margin-left: 3%;
}

#sec{
    /* border: 2px solid black; */
    height: 45vh;
    width: 99vw;
    display: flex;
}