*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family:"sans-serif";
}
.menu{
    background-color: aqua;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}
.logo{
    color: black;
    font-size: 30px;

}
.logo span{
    color: purple;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li{
    padding: 10px 30px;
    position: relative;
}
.menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
}

.menu ul li a:hover {
    color: blue;
}

.dropdown_menu{
    display: none;
}


.menu ul li:hover .dropdown_menu{
    display: block;
    position: absolute;
    left: 0%;
    top: 100%;
    background-color:aquamarine;
}

.menu ul li:hover .dropdown_menu ul{
    display: block;
    margin: 10px;

}

.menu ul li:hover .dropdown_menu ul li {
    width: 100px;
    padding: 10px;
}